p.p1 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 0.8rem "Times New Roman";
  color: #000000;
  min-height: 11px;
}

p.p2 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 0.8rem "Times New Roman";
}

p.p3 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 0.8rem "Times New Roman";
  min-height: 11px;
}

p.p4 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 1rem Times;
}

p.p5 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p6 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
}

p.p7 {
  margin: 0px 0px 0px 27px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p8 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem Times;
}

p.p9 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p10 {
  margin: 0px 0px 0px 0px;
  font: 1rem Times;
  min-height: 13px;
}

p.p11 {
  margin: 0px 0px 0px 36px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p13 {
  margin: 0px 0px 0px 72px;
  text-align: justify;
  font: 1rem "Times New Roman";
  min-height: 11px;
}

p.p14 {
  margin: 0px 0px 0px 36px;
  font: 1rem "Times New Roman";
  min-height: 11px;
}

p.p15 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem "Times New Roman";
}

p.p16 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem "Times New Roman";
  min-height: 11px;
}

p.p18 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem Times;
  color: #000000;
  min-height: 13px;
}

p.p19 {
  margin: 0px 0px 0px 72px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p20 {
  margin: 0px 0px 0px 88.9px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p21 {
  margin: 0px 0px 0px 54px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p22 {
  margin: 0px 0px 0px 36px;
  text-align: justify;
  font: 1rem "Times New Roman";
  min-height: 11px;
}

p.p23 {
  margin: 0px 0px 0px 36px;
  text-align: justify;
  font: 1rem Times;
}

p.p24 {
  margin: 0px 0px 0px 108px;
  text-align: justify;
  font: 1rem "Times New Roman";
}

p.p25 {
  margin: 0px 0px 0px 108px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p26 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem "Times New Roman";
  min-height: 11px;
}

li.li6 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
}

li.li12 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem "Times New Roman";
}

li.li17 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
  color: #000000;
}

span.s1 {
  color: #000000;
}

span.s2 {
  font: 1rem "Times New Roman";
}

span.Apple-tab-span {
  white-space: pre;
}

ul.ul1 {
  list-style-type: disc;
}
