p.p1 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 1rem "Times New Roman";
  color: #000000;
  min-height: 11px;
}

p.p2 {
  margin: 0px 0px 0px 0px;
  font: 1rem "Times New Roman";
  color: #000000;
  min-height: 11px;
}

p.p3 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 1rem Times;
}

p.p4 {
  margin: 0px 0px 0px 0px;
  text-align: center;
  font: 1rem Times;
  min-height: 13px;
}

p.p5 {
  margin: 0px 0px 0px 0px;
  font: 1rem Times;
  min-height: 13px;
}

p.p6 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
}

p.p7 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p8 {
  margin: 0px 0px 0px 36px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

p.p9 {
  margin: 0px 0px 0px 36px;
  text-align: justify;
  font: 1rem Times;
}

p.p10 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem Times;
}

p.p11 {
  margin: 0px 0px 0px 35.5px;
  text-align: justify;
  font: 1rem Times;
  min-height: 13px;
}

li.li6 {
  margin: 0px 0px 0px 0px;
  text-align: justify;
  font: 1rem Times;
}

span.Apple-tab-span {
  white-space: pre;
}

ul.ul1 {
  list-style-type: disc;
}
